.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.hamburger {
  cursor: pointer;
  margin-left: 10px;
}
.header_logo {
  margin-left: 10px;
  height: 75px;
}

.header_center {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 30px;
}
.header_center > input {
  flex: 1;
  border: 1px solid #ccc;
  padding: 2px 6px;
  font-size: 14px;
  outline: none;
}
.searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  border-left: none;
  background-color: #f8f8f8;
  color: gray;
  width: 60px;
}
.searchIcon:hover {
  background-color: #e9e7e7;
}

.header_right {
  display: flex;
  align-items: center;
}
.header_right_icon {
  color: rgb(96, 96, 96);
  margin-right: 20px;
  cursor: pointer;
}
.notifications {
  position: fixed;
  top: 56px;
  right: 20px;
  background-color: white;
  opacity: 0.95;
  color: black;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 400px;
  overflow-y: scroll;
  border: 1px solid black;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 4px;
}
.notificationText {
  margin: 10px;
}

.header_right_icon.avatar {
  width: 30px !important;
  height: 30px !important;
}

@media (max-width: 600px) {
  .header_right {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header_left {
    margin: 0;
    width: 30%;
  }
  .header_center {
    width: 50%;
    margin-right: 30px;
  }
  .searchIcon {
    width: 30px;
  }
}
