.sidebar {
  width: 6vw;
  height: 100vh;
  position: fixed;
  left: 0;
  background-color: white;
}
.sidebar.active {
  width: 16vw;
  position: fixed;
  left: 0;
  overflow-y: scroll;
  height: 100vh;
  z-index: 100;
}

.second {
  display: none;
}
.second.active {
  display: block;
}

.sidebarRow.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
}
.sidebarRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

hr {
  margin: 10px 0;
}

.sidebarRowIcon.active {
  color: #606060;
  font-size: large !important;
}
.sidebarRowIcon {
  color: #606060;
}

.sidebarRowTitle.active {
  flex: 1;
  margin-left: 20px;
  font-weight: 500;
  font-size: 15px;
}
.sidebarRowTitle {
  margin: 4px 2px;
  font-weight: 500;
  font-size: 10px;
}

.sidebarRow:hover {
  cursor: pointer;
  background-color: #f7f5f5;
}
.sidebarRow.selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebarRow.selected > .sidebarRowTitle {
  font-weight: bold;
}
.sidebarRow.selected > .sidebarRowIcon {
  color: red;
}

.text {
  margin: 20px;
  color: #606060;
}

@media (min-width: 900px) and (max-width: 1000px) {
  .sidebar.active {
    width: 7vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: white;
  }
  .sidebar {
    width: 25vw;
    position: fixed;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
    z-index: 100;
  }

  .sidebarRow.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .sidebarRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
  }

  .second.active {
    display: none;
  }
  .second {
    display: block;
  }

  .sidebarRowTitle {
    flex: 1;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }
  .sidebarRowTitle.active {
    margin: 4px 2px;
    font-weight: 500;
    font-size: 10px;
  }

  .sidebarRowIcon {
    color: #606060;
    font-size: large !important;
  }
  .sidebarRowIcon.active {
    color: #606060;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .sidebar.active {
    display: none;
  }

  .sidebar {
    width: 25vw;
    position: fixed;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
    z-index: 100;
  }

  .sidebarRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
  }

  .second {
    display: block;
  }

  .sidebarRowTitle {
    flex: 1;
    margin-left: 20px;
    font-weight: 500;
    font-size: 14px;
  }

  .sidebarRowIcon {
    color: #606060;
    font-size: large !important;
  }
  .sidebarRowIcon.active {
    color: #606060;
  }
}

@media (max-width: 600px) {
  .second.active {
    display: none;
  }

  .sidebar.active {
    z-index: 100;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  .sidebarRowTitle.active {
    display: none;
  }
  .sidebarRow.selected {
    background-color: white;
  }
  .second {
    display: none;
  }

  .sidebar {
    z-index: 100;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }

  .sidebarRowTitle {
    display: none;
  }
  .sidebarRow.selected {
    background-color: white;
  }
}
