.videoSection {
  margin-left: 16vw;
  background-color: #f9f9f9;
  padding: 30px 20px;
  z-index: -1;
}
.videoSection.expand {
  margin-left: 6vw;
}

.videos {
  display: flex;
  flex-wrap: wrap;
}

.videoCard {
  margin-bottom: 40px;
  margin-left: 8px;
  margin-right: 8px;
  width: 23%;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
}

.VideoCardInfo {
  display: flex;
  margin-top: 10px;
  padding-right: 24px;
}
.videoCardText {
  margin-left: 15px;
}
.videoCardText > h4 {
  font-size: 14px;
  margin-bottom: 5px;
}
.videoCardText > p {
  font-size: 14px;
  color: #606060;
}

.videoCardAvatar {
  height: 36px !important;
}

@media (min-width: 900px) and (max-width: 1000px) {
  .videoSection {
    margin-left: 7vw;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .videoSection {
    margin-left: 0;
  }

  .videoCard {
    width: 30%;
  }
  .videoCardText > h4 {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .videoCardText > p {
    font-size: 12px;
    color: #606060;
  }
}

@media (max-width: 600px) {
  .videoSection {
    margin-left: 0;
    padding: 0;
  }

  .videos {
    flex-direction: column;
    align-items: center;
  }

  .videoCard {
    width: 90%;
  }
}
